body
{
    color: rgb(186, 102, 255);
    background: rgb(251, 51, 84);
}

.copy_right_footer
  {
    position: fixed;
    color: rgb(43, 0, 107);
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    line-height: 4;
    text-align:center;
  }
